.downloud {
  color: @color-menu;
  background-color: @bg-downloud;
}

.downloud__wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.downloud__title {
  width: 230px;
  min-height: 372px;
  margin: 0 auto;
  padding: 90px 0 0 0;

  position: relative;

  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 176px;
    right: 17px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 258px 286px;
    width: 258px;
    height: 286px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
    }
  }
}

.downloud__wrapper-text {
  width: 282px;
  margin: 0 auto;
  padding-top: 28px;
}

.downloud__btn {
  margin-right: 1px;
  margin-bottom: 31px;
}

.downloud__list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 205px;

  margin: 0 auto 18px;
  padding: 0;
}

.downloud__item:nth-child(2) {
  margin: 0 38px 1px 34px;
}

.downloud__item:last-child {
  margin-bottom: 3px;
}

.downloud__text {
  line-height: 24px;
  text-align: center;

  margin: 0 5px 0 5px;
  padding-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .downloud {
    min-height: 729px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .downloud__wrapper {
    width: 660px;
    margin: 0 auto;

    background: none;
  }

  .downloud__title {
    min-height: auto;
    margin: 0;
    padding: 203px 0 0 55px;

    font-size: 40px;
    line-height: 48px;

    &::before {
      top: 184px;
      left: -20px;
      width: 660px;
      height: 545px;

      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-repeat: no-repeat;
      background-size: 700px 545px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
      }
    }
  }

  .downloud__wrapper-text {
    width: 620px;
    margin: 0 auto;
    padding-top: 31px;
    position: relative;
    z-index: 10;
  }

  .downloud__btn {
    width: 267px;
    margin-bottom: 45px;
  }

  .downloud__list {
    width: 206px;
    margin-left: 46px;
  }

  .downloud__item:nth-child(2) {
    margin: 0 36px 3px 37px;
  }

  .downloud__item:last-child {
    margin-bottom: 3px;
  }

  .downloud__text {
    font-size: 18px;
    width: 300px;
    margin: 0;
    padding-top: 14px;
  }
}

@media (min-width: @desktop-width) {
  .downloud {
    min-height: 853px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-position: center top 11px;
    }
  }

  .downloud__wrapper {
    width: 940px;
  }

  .downloud__title {
    padding: 218px 0 0 31px;

    font-size: 50px;
    line-height: 60px;

    &::before {
      top: 209px;
      left: 16px;
      width: 900px;
      height: 645px;

      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: 1050px 645px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
      }
    }
  }

  .downloud__wrapper-text {
    width: 940px;
    padding-top: 52px;
  }

  .downloud__btn {
    width: 267px;
    font-size: 21px;
    line-height: 0.86;
    margin-bottom: 67px;
  }

  .downloud__list {
    margin-left: 47px;
  }

  .downloud__item:nth-child(2) {
    margin: 0 38px 2px 35px;
  }

  .downloud__item:last-child {
    margin-bottom: 4px;
  }

  .downloud__text {
    padding-top: 32px;
  }
}
