.page-footer {
  text-align: center;
}

.page-footer__logo--desktop {
  display: none;
}

@media (min-width: @desktop-width) {
  .page-footer__logo--mobile {
    display: none;
  }

  .page-footer__logo--desktop {
    display: inline;
  }
}
