.slider__icon {
  display: none;
}

.slider__toggle-arrow {
  display: none;
}

.slider__item {
  text-align: center;

  .reset-block();
}

.slider__author-block {
  .reset-block();
}

.slider__review-author {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @color-title;
}

.slider__review-about-author {
  display: none;
}

.slider__review-text {
  line-height: 30px;
  font-weight: 400;

  .reset-block();
  padding-top: 13px;
}

.slider__toggles {
  padding-top: 24px;

  text-align: center;
}

.slider__toggle {
  &-back,
  &-forward {
    display: none;
  }

  cursor: pointer;
  width: 6px;
  height: 6px;
  font-size: 0;
  border: none;
  border-radius: 50%;
  background-color: @color-text;
  opacity: 0.3;
  .reset-block();
  margin-left: 9px;
  margin-right: 9px;

  &--active {
    width: 12px;
    height: 12px;
    border: 3px solid @color-text;
    background-color: transparent;
    opacity: 1;
    margin-left: 3px;
    margin-right: 3px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: @tablet-width) {
  .slider__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .slider__review-author {
    font-size: 20px;

    display: block;
    padding-top: 35px;
    padding-bottom: 7px;
  }

  .slider__review-about-author {
    display: block;
    font-weight: 400;
  }

  .slider__review-text {
    font-size: 18px;

    padding-top: 12px;
  }

  .slider__toggles {
    padding-top: 31px;
  }
}

@media (min-width: @desktop-width) {
  .slider__icon {
    margin: 32px auto 0;
    padding-left: 5px;
    display: block;
    fill: #efefef;
  }

  .slider__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 35px;
  }

  .slider__toggles {
    display: none;
  }

  .slider__toggle-arrow {
    display: block;
    .reset-block();
    margin-bottom: 73px;
    cursor: pointer;
    width: 22px;
    height: 42px;
    font-size: 0;
    border: 0;
    background-color: transparent;
    opacity: 0.3;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }

  .slider__toggle-arrow svg {
    fill: @color-text;
  }

  .slider__review-author {
    font-size: 24px;

    padding-top: 36px;
    padding-bottom: 5px;
  }

  .slider__review-about-author {
    font-size: 18px;
  }

  .slider__review-text {
    position: relative;
    padding-left: 66px;
    padding-right: 66px;
    padding-top: 14px;

    width: 764px;
  }
}
