.tools__description {
  .reset-block();
  line-height: 30px;
  font-weight: 400;
  text-align: center;

  width: 255px;
  margin: 0 auto;
}

.tools__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-top: 42px;
  padding-top: 20px;
  background-color: @bg-advantage;
}

.tools__image {
  display: block;
  margin: 0 auto;
}

.tools__controls {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0;
  width: 208px;
}

.tools__control {
  width: 48px;
  height: 48px;
  cursor: pointer;
  fill: @color-text;
  opacity: 0.3;

  &:hover:not(.tools__control--active),
  &:focus:not(.tools__control--active) {
    fill: @color-text;
    opacity: 0.5;
  }
}

.tools__control--active {
  fill: @color-hover;
  opacity: 1;
}

.tools__control--fill {
  margin-top: 2px;
}

.tools__control--contrast {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
}

.tools__list {
  .reset-block();
  list-style: none;
}

.tools__item {
  display: none;
  border-bottom: 1px solid fade(@color-text, 10%);

  &--active {
    display: block;
  }
}

.tools__range {
  position: relative;
  width: 240px;
  height: 2px;
  margin: 35px auto 34px;

  background-color: @color-title;
}

.tools__pin {
  font-size: 0;

  position: absolute;
  width: 10px;
  height: 10px;
  top: -6px;
  left: 80.5%;
  cursor: pointer;
  border: 2px solid @color-hover;
  border-radius: 100%;

  background-color: @bg-advantage;
  z-index: 1;

  &:hover,
  &:focus,
  &:active {
    background-color: @color-hover;
  }
}

.tools__wrapper-btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 38px;
  padding-bottom: 41px;
}

.tools__btn-gallery {
  margin-bottom: 12px;
}

@media (min-width: @tablet-width) {
  .tools__description {
    width: 430px;
    font-size: 18px;
  }

  .tools__wrapper {
    width: 620px;
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
    padding: 40px 20px 54px;
  }

  .tools__form {
    display: flex;
    width: 275px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .tools__image {
    width: 300px;
    margin: 0;
    padding-top: 17px;
  }

  .tools__controls {
    display: block;
    margin: 0;
    width: 55px;
  }

  .tools__control {
    width: auto;
    height: auto;

    fill: @color-hover;
    opacity: 1;
    cursor: auto;
    .reset-block;
    border-bottom: 1px solid fade(@color-text, 10%);
  }

  .tools__control:hover:not(.tools__control--active),
  .tools__control:focus:not(.tools__control--active) {
    fill: @color-hover;
    opacity: 1;
  }

  .tools__control svg {
    width: 24px;
    height: 24px;
  }

  .tools__control--cut {
    margin-top: 25px;
    padding-bottom: 19px;
    padding-left: 2px;
  }

  .tools__control--fill {
    margin-top: 27px;
    padding-bottom: 17px;
    padding-left: 3px;
  }

  .tools__control--contrast {
    margin-top: 29px;
    padding-bottom: 23px;
    padding-left: 8px;
  }

  .tools__control--contrast svg {
    width: 16px;
    height: 16px;
  }

  .tools__item {
    display: block;
    width: 202px;
    padding-right: 18px;
  }

  .tools__range {
    width: auto;
    margin: 36px auto 34px;
  }

  .tools__wrapper-btn {
    flex-grow: 1;
    padding-top: 64px;
    padding-bottom: 0;
    margin-right: 11px;
    width: 280px;
  }

  .tools__btn-gallery {
    margin-bottom: 24px;
    padding: 14px 81px 17px 75px;
  }

  .tools__btn-clear {
    padding: 14px 94px 17px 87px;
  }
}

@media (min-width: @desktop-width) {
  .tools__wrapper {
    width: 900px;
    margin-top: 66px;
    margin-bottom: 28px;
    padding-bottom: 57px;
    justify-content: space-between;
  }

  .tools__image {
    padding-left: 60px;
  }

  .tools__form {
    width: 410px;
    margin-right: 40px;
  }

  .tools__controls {
    width: 92px;
  }

  .tools__control svg {
    width: 48px;
    height: 48px;
  }

  .tools__control--contrast svg {
    width: 32px;
    height: 32px;
  }

  .tools__control--cut {
    margin-top: 13px;
    margin-left: -2px;
    padding-bottom: 7px;
    padding-left: 0;
  }

  .tools__control--fill {
    margin-top: 15px;
    padding-bottom: 5px;
    padding-left: 0;
  }

  .tools__control--contrast {
    margin-top: 21px;
    padding-bottom: 15px;
    padding-left: 6px;
  }

  .tools__item {
    width: 288px;
    padding-right: 30px;
  }

  .tools__wrapper-btn {
    width: 410px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    .reset-block;
  }

  .tools__btn-gallery {
    margin-bottom: 0;
    padding: 14px 36px 17px 42px;
  }

  .tools__btn-clear {
    padding: 14px 49px 17px 55px;
  }
}
