@font-main: "Open Sans", "Arial", sans-serif;

@color-text: #283645;
@color-menu: #ffffff;
@color-title: #000000;
@color-btn-downloud: #ffffff;
@color-btn-dld-active: rgba(210, 40, 86, 0.3);
@color-hover: #d22856;
@color-active: rgba(255, 255, 255, 0.3);
@color-on: #3dc644;
@color-off: #f25b26;

@color-btn-clear: rgba(40, 54, 69, 0.1);
@color-btn-clear-hover: rgba(40, 54, 69, 0.3);
@color-btn-submit: #2aab6d;
@color-btn-submit-hover: #1c9b5e;
@color-border: #e5e5e5;
@bg-downloud: #1d2631;
@bg-advantage: #f2f2f2;
@bg-menu: rgba(0, 0, 0, 0.3);
@color-shadow: rgba(0, 1, 1, 0.15);

@tablet-width: 660px;
@desktop-width: 960px;
